<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>CO2 Emission Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">

</head>
<div class="text-end">
  <!--<button type="button" class="btn btn-outline-light me-2">Login</button>
  <button type="button" class="btn btn-warning">Sign-up</button>-->
  <a type="button" class="btn_n btn-warning" href="/Logout">Logout</a>
</div>



<body>
 <div class="login">
	<h1> CO2 Emission Prediction of Vehicle</h1>
     <h3>Please enter the desired values to get the CO2 emission of the vehicles</h3>

    
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="enginesize" placeholder="Engine Size" required="required" />
        <input type="text" name="cylinders" placeholder="Cylinders" required="required" />
		<input type="text" name="fuel" placeholder="Fuel" required="required" />

        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   <div style="font-size: 30px;
   text-align:center;
   color: azure;">
   {{ prediction_text }}
  </div>

 </div>


</body>
</html>